layout {
	background-color "#17111b"

    focus-ring {
        active-color "#ddbcdf"
        inactive-color "#978d9a"
        urgent-color   "#ffb4ab"
    }
    tab-indicator {
        active-color   "#e0b6ff"
        inactive-color "#978d9a"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#e0b6ff80"
    }
}

overview {
	backdrop-color "#17111b"
}
