input {
    keyboard {
      repeat-delay 300
        repeat-rate 50
        xkb {
            layout "qwerty-fr"
            model "pc104"
            options "terminate:ctrl_alt_bksp"
        }
        numlock
    }
}

gestures {
    hot-corners {
        top-right
    }
}
