input {
    keyboard {
      repeat-delay 150
        repeat-rate 20
        xkb {
            layout "qwerty-fr"
            model "pc104"
            options "terminate:ctrl_alt_bksp"
        }
        numlock
    }
}
gestures {
    // hot-corners { on; }
}
