* {
    primary: #d9b0f6;
    primary-fixed: #f2daff;
    primary-fixed-dim: #ddb9f7;
    on-primary: #3e2256;
    on-primary-fixed: #2a0c41;
    on-primary-fixed-variant: #583a6f;
    primary-container: #63457b;
    on-primary-container: #ffffff;
    secondary: #d1c1d9;
    secondary-fixed: #eeddf6;
    secondary-fixed-dim: rgba(243, 231, 252, 0.8);
    on-secondary: #352b3d;
    on-secondary-fixed: #211829;
    on-secondary-fixed-variant: #4e4256;
    secondary-container: #5a4d61;
    on-secondary-container: #ffffff;
    tertiary: #f4b7bb;
    tertiary-fixed: #ffdadb;
    tertiary-fixed-dim: #f4b7bb;
    on-tertiary: #4a2327;
    on-tertiary-fixed: #321015;
    on-tertiary-fixed-variant: #663a3f;
    tertiary-container: #724549;
    on-tertiary-container: #ffffff;
    error: #ffb4ab;
    on-error: #660004;
    error-container: #a7060f;
    on-error-container: #ffffff;
    surface: #151217;
    on-surface: #e8e0e8;
    on-surface-variant: #cdc3ce;
    outline: #968e98;
    outline-variant: #565059;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e8e0e8;
    inverse-on-surface: #332f35;
    inverse-primary: #705289;
    surface-dim: #19151bCC;
    surface-bright: #3e3a40;
    surface-container-lowest: #0f0c11;
    surface-container-low: #1e1b20;
    surface-container: #242025;
    surface-container-high: #2e2a30;
    surface-container-highest: #39353b;
}
