* {
    primary: #bab6ff;
    primary-fixed: #e3dfff;
    primary-fixed-dim: #c4c0ff;
    on-primary: #2b285e;
    on-primary-fixed: #17134a;
    on-primary-fixed-variant: #434078;
    primary-container: #4e4b84;
    on-primary-container: #ffffff;
    secondary: #c7c4dc;
    secondary-fixed: #e3e0f9;
    secondary-fixed-dim: rgba(244, 243, 255, 0.8);
    on-secondary: #2e2d40;
    on-secondary-fixed: #1a1a2c;
    on-secondary-fixed-variant: #464559;
    secondary-container: #515064;
    on-secondary-container: #ffffff;
    tertiary: #eab9d1;
    tertiary-fixed: #ffd8ea;
    tertiary-fixed-dim: #eab9d1;
    on-tertiary: #452437;
    on-tertiary-fixed: #2f1123;
    on-tertiary-fixed-variant: #603b4f;
    tertiary-container: #6c465b;
    on-tertiary-container: #ffffff;
    error: #ffb4ab;
    on-error: #660004;
    error-container: #a7060f;
    on-error-container: #ffffff;
    surface: #131318;
    on-surface: #e5e1e9;
    on-surface-variant: #c8c5d0;
    outline: #928f99;
    outline-variant: #52515a;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e5e1e9;
    inverse-on-surface: #313036;
    inverse-primary: #5b5891;
    surface-dim: #16161cCC;
    surface-bright: #3c3b41;
    surface-container-lowest: #0d0c12;
    surface-container-low: #1c1b21;
    surface-container: #212126;
    surface-container-high: #2c2b31;
    surface-container-highest: #37363c;
}
