* {
    primary: #dcacff;
    primary-fixed: #f2daff;
    primary-fixed-dim: #e0b6ff;
    on-primary: #490079;
    on-primary-fixed: #2e004e;
    on-primary-fixed-variant: #6c00af;
    primary-container: #7b00c7;
    on-primary-container: #ffffff;
    secondary: #ddbcdf;
    secondary-fixed: #fbd7fc;
    secondary-fixed-dim: rgba(246, 233, 255, 0.8);
    on-secondary: #3e2642;
    on-secondary-fixed: #29132e;
    on-secondary-fixed-variant: #573e5b;
    secondary-container: #634967;
    on-secondary-container: #ffffff;
    tertiary: #efb5df;
    tertiary-fixed: #ffd7f2;
    tertiary-fixed-dim: #efb5df;
    on-tertiary: #482042;
    on-tertiary-fixed: #320c2d;
    on-tertiary-fixed-variant: #64385b;
    tertiary-container: #704366;
    on-tertiary-container: #ffffff;
    error: #ffb4ab;
    on-error: #660004;
    error-container: #a7060f;
    on-error-container: #ffffff;
    surface: #17111b;
    on-surface: #eadfed;
    on-surface-variant: #cec3d1;
    outline: #978d9a;
    outline-variant: #574f5b;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #eadfed;
    inverse-on-surface: #352e39;
    inverse-primary: #8d00e3;
    surface-dim: #1b1420CC;
    surface-bright: #403944;
    surface-container-lowest: #100b14;
    surface-container-low: #201a24;
    surface-container: #251f29;
    surface-container-high: #302934;
    surface-container-highest: #3b343f;
}
